body{
  background-color: black;
}
.to-do-list{
  min-height: 800px;
  font-family: Arial, sans-serif;
  text-align: center;
  align-items: center;
}
h1{
  font-size: 4rem;
  color: white;
}
input[type="text"]{
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 6px;
  color: hsla(0, 0%, 0%, 0.5);
}

button{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-task{
  background-color: rgb(123, 177, 36);
}
.add-task:hover{
  background-color: rgb(123, 200, 36);
}
.delete-task{
  background-color: rgb(216, 55, 19);
}
.delete-task:hover{
  background-color: rgb(235, 55, 19);
}
.move-button{
  background-color: rgb(37, 175, 239);
}
.move-button:hover{
  background-color: rgb(37, 195, 255);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0,0%,97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.text{
  flex:1;
}
.delete-task, .move-button{
  padding: 8px 15px;
  font-size: 1.2rem;
  margin-left: 10px;
}